beautifulsoup4
chromadb
flask
gunicorn
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langgraph
lxml
numpy
PyMuPDF
pypdf
python-dotenv
pyTelegramBotAPI
PyYAML
requests
sentence-transformers
torch
