protobuf<=3.20.3
beautifulsoup4
chromadb
flask
gunicorn
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langgraph
lxml
numpy
PyMuPDF
pypdf
python-dotenv
pyTelegramBotAPI
PyYAML
requests
sentence-transformers
torch
langdetect
langchain-mcp-adapters
rank_bm25
langsmith
google-cloud-secret-manager
langmem
google-cloud-firestore
